.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 ;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: crosshair;
}  
  .inputimage-div {
    display: flex;
    justify-content: center;
  }